<div class="page-content container-fluid">
  <div class="crms-title row bg-white">
    <div class="col p-0">
      <h3 class="page-title m-0">
        <mat-icon class="icon" style="color: blueviolet">subtitles</mat-icon>
        <span>Basic Tables</span>
      </h3>
    </div>
    <div class="col p-0 text-right">
      <ul class="breadcrumb bg-white float-right m-0 pl-0 pr-0">
        <li class="breadcrumb-item"><a href="main/dashboard" style="color: blue">Dashboard</a></li>
        <li class="breadcrumb-item" style="color: gray">Basic Tables</li>
      </ul>
    </div>
  </div>
  <div class="page-header pt-3 mb-0">
    <div class="row">
      <div class="col-md-12">
        <div _ngcontent-wbu-c33="" class="row">
          <div _ngcontent-wbu-c33="" class="col-lg-6">
            <div _ngcontent-wbu-c33="" class="card">
              <div _ngcontent-wbu-c33="" class="card-header">
                <h4 _ngcontent-wbu-c33="" class="card-title mb-0">
                  Basic Table
                </h4>
              </div>
              <div _ngcontent-wbu-c33="" class="card-body">
                <div _ngcontent-wbu-c33="" class="table-responsive">
                  <table _ngcontent-wbu-c33="" class="table mb-0">
                    <thead _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <th _ngcontent-wbu-c33="">
                        First Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Last Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Email
                      </th>
                    </tr>
                    </thead>
                    <tbody _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        John
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Doe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        john@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        Mary
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Moe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        mary@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        July
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Dooley
                      </td>
                      <td _ngcontent-wbu-c33="">
                        july@example.com
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div _ngcontent-wbu-c33="" class="col-lg-6">
            <div _ngcontent-wbu-c33="" class="card">
              <div _ngcontent-wbu-c33="" class="card-header">
                <h4 _ngcontent-wbu-c33="" class="card-title mb-0">
                  Striped Rows
                </h4>
              </div>
              <div _ngcontent-wbu-c33="" class="card-body">
                <div _ngcontent-wbu-c33="" class="table-responsive">
                  <table _ngcontent-wbu-c33="" class="table table-striped mb-0">
                    <thead _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <th _ngcontent-wbu-c33="">
                        First Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Last Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Email
                      </th>
                    </tr>
                    </thead>
                    <tbody _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        John
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Doe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        john@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        Mary
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Moe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        mary@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        July
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Dooley
                      </td>
                      <td _ngcontent-wbu-c33="">
                        july@example.com
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-wbu-c33="" class="row">
          <div _ngcontent-wbu-c33="" class="col-lg-6">
            <div _ngcontent-wbu-c33="" class="card">
              <div _ngcontent-wbu-c33="" class="card-header">
                <h4 _ngcontent-wbu-c33="" class="card-title mb-0">
                  Bordered Table
                </h4>
              </div>
              <div _ngcontent-wbu-c33="" class="card-body">
                <div _ngcontent-wbu-c33="" class="table-responsive">
                  <table _ngcontent-wbu-c33="" class="table table-bordered mb-0">
                    <thead _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <th _ngcontent-wbu-c33="">
                        First Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Last Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Email
                      </th>
                    </tr>
                    </thead>
                    <tbody _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        John
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Doe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        john@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        Mary
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Moe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        mary@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        July
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Dooley
                      </td>
                      <td _ngcontent-wbu-c33="">
                        july@example.com
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div _ngcontent-wbu-c33="" class="col-lg-6">
            <div _ngcontent-wbu-c33="" class="card">
              <div _ngcontent-wbu-c33="" class="card-header">
                <h4 _ngcontent-wbu-c33="" class="card-title mb-0">
                  Hover Rows
                </h4>
              </div>
              <div _ngcontent-wbu-c33="" class="card-body">
                <div _ngcontent-wbu-c33="" class="table-responsive">
                  <table _ngcontent-wbu-c33="" class="table table-hover mb-0">
                    <thead _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <th _ngcontent-wbu-c33="">
                        First Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Last Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Email
                      </th>
                    </tr>
                    </thead>
                    <tbody _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        John
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Doe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        john@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        Mary
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Moe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        mary@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        July
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Dooley
                      </td>
                      <td _ngcontent-wbu-c33="">
                        july@example.com
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-wbu-c33="" class="row">
          <div _ngcontent-wbu-c33="" class="col-lg-6">
            <div _ngcontent-wbu-c33="" class="card">
              <div _ngcontent-wbu-c33="" class="card-header">
                <h4 _ngcontent-wbu-c33="" class="card-title mb-0">
                  Contextual Classes
                </h4>
              </div>
              <div _ngcontent-wbu-c33="" class="card-body">
                <div _ngcontent-wbu-c33="" class="table-responsive">
                  <table _ngcontent-wbu-c33="" class="table mb-0">
                    <thead _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <th _ngcontent-wbu-c33="">
                        First Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Last Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Email
                      </th>
                    </tr>
                    </thead>
                    <tbody _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        Default
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Defaultson
                      </td>
                      <td _ngcontent-wbu-c33="">
                        def@somemail.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-primary">
                      <td _ngcontent-wbu-c33="">
                        Primary
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Doe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        john@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-secondary">
                      <td _ngcontent-wbu-c33="">
                        Secondary
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Moe
                      </td>
                      <td _ngcontent-wbu-c33="">
                        mary@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-success">
                      <td _ngcontent-wbu-c33="">
                        Success
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Dooley
                      </td>
                      <td _ngcontent-wbu-c33="">
                        july@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-danger">
                      <td _ngcontent-wbu-c33="">
                        Danger
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Refs
                      </td>
                      <td _ngcontent-wbu-c33="">
                        bo@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-warning">
                      <td _ngcontent-wbu-c33="">
                        Warning
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Activeson
                      </td>
                      <td _ngcontent-wbu-c33="">
                        act@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-info">
                      <td _ngcontent-wbu-c33="">
                        Info
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Activeson
                      </td>
                      <td _ngcontent-wbu-c33="">
                        act@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-light">
                      <td _ngcontent-wbu-c33="">
                        Light
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Activeson
                      </td>
                      <td _ngcontent-wbu-c33="">
                        act@example.com
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="" class="table-dark">
                      <td _ngcontent-wbu-c33="">
                        Dark
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Activeson
                      </td>
                      <td _ngcontent-wbu-c33="">
                        act@example.com
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div _ngcontent-wbu-c33="" class="col-lg-6">
            <div _ngcontent-wbu-c33="" class="card">
              <div _ngcontent-wbu-c33="" class="card-header">
                <h4 _ngcontent-wbu-c33="" class="card-title mb-0">
                  Responsive Tables
                </h4>
              </div>
              <div _ngcontent-wbu-c33="" class="card-body">
                <div _ngcontent-wbu-c33="" class="table-responsive">
                  <table _ngcontent-wbu-c33="" class="table table-nowrap mb-0">
                    <thead _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <th _ngcontent-wbu-c33="">
                        #
                      </th>
                      <th _ngcontent-wbu-c33="">
                        First Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Last Name
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Age
                      </th>
                      <th _ngcontent-wbu-c33="">
                        City
                      </th>
                      <th _ngcontent-wbu-c33="">
                        Country
                      </th>
                    </tr>
                    </thead>
                    <tbody _ngcontent-wbu-c33="">
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    <tr _ngcontent-wbu-c33="">
                      <td _ngcontent-wbu-c33="">
                        1
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Anna
                      </td>
                      <td _ngcontent-wbu-c33="">
                        Pitt
                      </td>
                      <td _ngcontent-wbu-c33="">
                        35
                      </td>
                      <td _ngcontent-wbu-c33="">
                        New York
                      </td>
                      <td _ngcontent-wbu-c33="">
                        USA
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
