.page-content{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.page-header{
  width: 100%;
}
.crms-title {
  margin: 0;
  padding: 10px;
  width: 100%;
  .breadcrumb {
    padding-top: 5px;
  }
}
.page-title {
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.breadcrumb-item{
  font-size: 18px;
  font-weight: 500;
}

.comp-section {
  padding-top: 30px;
  width: 100%;
  :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .section-title {
    font-size: 1.125rem;
    margin-bottom: 20px;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .btn-close{
    background: transparent;
    border: 0;
    float: right;
  }
  .card-title {
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    >a.btn {
      color: #fff;
    }
  }
  .btn{
    margin: 3px;
    border-radius: 5px;
  }
  .btn-primary {
    background: linear-gradient(90deg, rgba(67,203,255,1) 25%, rgba(151,8,204,1) 100%);
    border: 1px solid #cf1b1b;
  }
  .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transform-origin: left top 0;
    box-shadow: inherit;
    background-color: #fff;
    font-size: 13px;
  }
  .pagination-box{
    ul{
      margin: 10px;
      font-size: large;
      li{
        .active a{
          background: linear-gradient(90deg, rgba(67,203,255,1) 25%, rgba(151,8,204,1) 100%);
        }
      }
    }
  }
  .progress-example{
    .progress{

    }
    .progress-bar{
      margin: 5px;
      height: 70%;
    }
  }
}
