<div class="page-content container-fluid">
  <div class="crms-title row bg-white">
  <div class="col p-0">
    <h3 class="page-title m-0"><mat-icon style="color: blueviolet">subtitles</mat-icon> <span> Companies</span>
    </h3>
  </div>
  <div class="col p-0 text-right">
    <ul class="breadcrumb bg-white float-right m-0 pl-0 pr-0">
      <li class="breadcrumb-item"><a href="main/dashboard" style="color: blue">Dashboard</a></li>
      <li class="breadcrumb-item" style="color: gray">Companies</li>
    </ul>
  </div>
</div>
  <div class="page-header pt-3 mb-0">
    <div class="row">
      <div class="col">
        <button mat-button [matMenuTriggerFor]="menu">Recently viewed <mat-icon>keyboard_arrow_down</mat-icon> </button>
        <mat-menu #menu="matMenu">
          <ul>
            <li><a href="/main/companies">Recently viewed</a></li>
            <li><a href="/main/companies">Item's i'm following</a></li>
            <li><a href="/main/companies">All Companies</a></li>
            <li><a href="/main/companies">Companies added in the last 24h</a></li>
            <li><a href="/main/companies">Companies added in the last 7d</a></li>
            <li><a href="/main/companies">Companies with no notes in the last month</a></li>
            <li><a href="/main/companies">Companies with no notes in the lats 7d</a></li>
          </ul>
        </mat-menu>
      </div>
      <div class="col text-right">
        <ul class="list-inline-item pl-0">
          <li class="list-inline-item">
            <button mat-button [matMenuTriggerFor]="viewmodule"><mat-icon>view_module</mat-icon> </button>
            <mat-menu #viewmodule="matMenu">
              <button mat-menu-item>Add New List View</button>
            </mat-menu>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-gradient-primary font-weight-bold text-white">New Company</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Name Column -->
          <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef > <mat-checkbox></mat-checkbox> </th>
            <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
            <td mat-cell *matCellDef="let element">   {{element.company}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef > Photo </th>
            <td mat-cell *matCellDef="let element"><img src="{{element.img}}" alt=""> </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef> Street </th>
            <td mat-cell *matCellDef="let element"> {{element.street}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element">  {{element.state}}  </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element">  {{element.country}}  </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">  <mat-icon>{{element.icon}}</mat-icon>  </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon> </button>
              <mat-menu #menu="matMenu">
                <ul>
                  <li><a href="/main/companies">Edit this Company</a></li>
                  <li><a href="/main/companies">Change Company image</a></li>
                  <li><a href="/main/companies">Delete this Company</a></li>
                  <li><a href="/main/companies">Clone this Company</a></li>
                  <li><a href="/main/companies">Change record owner</a></li>
                  <li><a href="/main/companies">Generate merge document</a></li>
                  <li><a href="/main/companies">Change contact to Company</a></li>
                  <li><a href="/main/companies">Print this Company</a></li>
                  <li><a href="/main/companies">Email this Company</a></li>
                  <li><a href="/main/companies">Add new task for Company</a></li>
                  <li><a href="/main/companies">Add new event for Company</a></li>
                  <li><a href="/main/companies">Add new activity to Company</a></li>
                  <li><a href="/main/companies">Add new deal for Company</a></li>
                  <li><a href="/main/companies">Add new project for Company</a></li>
                </ul>
              </mat-menu></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
