.page-content{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.page-header{
  width: 100%;
}
.btn-gradient-primary{
  background: linear-gradient(to right, #da8cff, #9a55ff);
  font-size: 14px;
  padding: 10px 30px;
  color: #fff;
  border: 0;
  border-radius: 50px;
}
.list-inline-item {
  display: inline-block;
}
table{
  width: 100%;
}
ul{
  list-style-type: none;
}
li{
  padding: 2px;
  margin-right: 25px;
}
a{
  text-decoration: none;
  color: black;
}
img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
  border-style: none;
}

.crms-title {
  margin: 0;
  padding: 10px;
  width: 100%;
}
.page-title {
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.crms-title .breadcrumb {
  padding-top: 5px;
}
.breadcrumb-item{
  font-size: 18px;
  font-weight: 500;
}
.marked{
  background-color: green;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;

}
.marked::before{
  content: '';
  border: 5px solid transparent;
  border-left: 10px solid white;
  position: absolute;
}
.unmarked{
  background-color: gray;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}
.unmarked::before{
  content: '';
  border: 5px solid transparent;
  border-left: 10px solid white;
  position: absolute;
}
.pipeline-small {
  display: flex;
  overflow: hidden;
  border-radius: 2px;
  line-height: 15px;
}
.pipeline-small span {
  margin-top: 7px;
  width: 50px;
  height: 10px;
  display: inline-block;
}
